.div_interna{
text-align: center;
background-color: blue;
border-radius: 25px;
}

h1,h2,h3,h4{color: yellow;
border: 3px dotted black;
}
#shit{color: yellowgreen;}

a{color: yellow;}

a:hover{color: lime;}

.container{
width:500px;
display: flex;
justify-content: center;
}

.body{
    display: flex;
    justify-content: center;
    background-color: black;
}

.FUCK{color: yellowgreen;}

.Freddy{color: orangered;}

.fazbear{color: red;}

.im{color:red;

}
.im:hover{color: orangered;}