body{
    margin: 0;
        background-color: rgb(0, 0, 20);
}
.container{
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 20);
}
.div1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.rov{
text-align: center;
width: 100%;
margin: 0;
}
.nav{
    background-color:darkcyan;
    color: aquamarine;
    text-align: center;
    border: 0px;
    margin-top: -21px;
}
.a:hover{
    color: yellowgreen;
}
.a{
    color: greenyellow
}

.hr{
    color: yellowgreen;
    border-bottom: 10px solid yellow;
    border-left: none;
    border-right: none;
    width: 100%;
}

.h1{
color: royalblue;
}

button{background-color: aquamarine;
border-radius: 20px;
}

table,tr{
border: 1px solid black;
background-color: #1a1b16;
border-collapse: collapse;
}

a{
    color: black;
}

a:hover{
color: white;}

.S{
    background-color: #ff7f7f;
}

.A{
    background-color: #ffbf7f;
}

.B{
    background-color: #ffdf7f;
}

.C{
    background-color: #ffff7f;
}

.D{
    background-color: #bfff7f;
}

.F{
    background-color: #ff7fff;
}

.tierlist{
    display:flex;
    justify-content: center;
}
