body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
h1{
    text-align: center;
    font-size: 60px;
}
form{
    font-size: 60px;
    text-align: center;
}
input{ font-size: 60px; text-align: center;}

.formulario{
  background-color: gray;
    text-align: center;
border-color: whitesmoke;
border-radius: 25px;
border: 3px;
display: flex;

}
input[type="radio"]{transform: scale(3);}
input{text-align: center;}

label{
    text-align: center;
font-size: 60px;
}

.butt{border-radius: 25px;
width: 160px;
height: 30px;
}
.but{
    border-radius: 25px;
}
.h1{

    background-color: black;
}

